/* General --------------------------------------------------------------------------------------------------------------------------------*/
header {
  background: linear-gradient(to bottom, rgba(52, 78, 24, 0.25), #310000);
  background-color: #003130ee;
}

.header-container-final {
  background: transparent;
}

.site-title {
  color: #FFF;
}

.cart-count {
  background-color: rgba(0, 0, 0);
  color: white;
}

.search-bar input  {
  background-color: rgba(255, 255, 255, 32%);
  border-radius: 30px;
  border: solid 2px rgba(52, 73, 0, 0.721);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.75) ;
}

.search-bar input:focus::placeholder {
  color: rgb(255, 49, 49) ;
}

.footer-container {
  background-color: rgba(46, 151, 132, 75%)
}



/* Home Page --------------------------------------------------------------------------------------------------------------------------------*/
.background-color-home {
  background-image: linear-gradient(to bottom, #310000, #DD6A00);
}

.slideshow {
  background-color: rgba(46, 151, 132, 0.45);
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.buy-now {
  background-color: #2E9784;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
}

.buy-now:hover {
  background-color: #208072;
}

.dog-products, .cat-products {
  background-image: linear-gradient(-30deg, rgba(124, 179, 66, 0.75), rgba(167, 229, 218, 0.43));
  border: solid 2px rgba(0, 42, 35, 0.721);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 100, 100); 
}
 
.home-button {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.8) 0%, #7CB342 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 3px rgba(0, 42, 35, 0.721);
}

.home-button:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

hr {
  background-color: #282100;
}

.ingredients {
  background: linear-gradient(to bottom, rgba(124, 179, 66, 0.25), #fff);
}

.product-card-home {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 100, 100); 
}

.about-us {
  background: linear-gradient(to bottom, rgba(52, 78, 24, 0.25), #DD6A00);
}

.who-are-we {
  background-color: rgba(124, 179, 66, 50%)
}



/* Products Page --------------------------------------------------------------------------------------------------------------------------------*/
.background-color-products {
  background-image: linear-gradient(to bottom, #310000, #DD6A00);
}

.product-card, .product-card-home {
  background: linear-gradient(to bottom, rgba(124, 179, 66, 0.75) 0%, rgba(167, 229, 218, 0.43) 100%);
  border: solid 1px rgba(0, 42, 35, 0.721);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 100, 100); 
}

.product-card:hover, .product-card-home:hover {
  transform: scale(1.01); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.product-info button {
  background: radial-gradient(circle, rgba(31, 102, 89, 0.721), rgba(124, 179, 66, 1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 3px rgba(0, 42, 35, 0.721);
}

.product-info button:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 1));
}



/* Product Page --------------------------------------------------------------------------------------------------------------------------------*/
.background-color-product {
  background-image: linear-gradient(to bottom, #310000, #DD6A00);
}

.name-price button {
  background: radial-gradient(circle, rgba(31, 102, 89, 0.721), rgba(124, 179, 66, 0.75));
  box-shadow: 0px 2px 8px rgba(0, 0, 100, 100); 
  border: solid 3px rgba(0, 42, 35, 0.721);
}

.name-price button:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

.img-main, .img1, .img2, .img3 {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.75) 0%, rgba(255, 255, 255, 1) 100%);
}

.review-form input {
  background-color: #fff;
  border: 1px solid #7CB342;
}

.submit-btn {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.65) 0%, #7CB342 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); 
  border: solid 2px rgba(0, 42, 35, 0.721);
}

.submit-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

.mark-review, .sarah-review {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}



/* Cart Confirm --------------------------------------------------------------------------------------------------------------------------------*/
.review-cart-btn, .cart-confrim-checkout-btn {
  background: radial-gradient(circle, rgba(31, 102, 89, 0.721), rgba(124, 179, 66, 0.75));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 2px rgba(0, 42, 35, 0.721);
}

.confirmation-header {
  background-color: black;
}

.review-cart-btn:hover, .cart-confrim-checkout-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
  
}

.confirm-add-to-cart {
  background-image: linear-gradient(180deg, rgba(124, 179, 66, 0.75), rgba(167, 229, 218, 0.43));
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 100, 100); 
}



/* Cart Page --------------------------------------------------------------------------------------------------------------------------------*/
.cart-item {
  background-color: rgba(251,251,251,75%);
}

.cart-header button {
  background-color: transparent;
}

.quantity p {
  background-color: #fff;
} 

.cart-checkout-btn {
  background: radial-gradient(circle, rgba(31, 102, 89, 1), rgba(124, 179, 66, 1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 5px rgba(0, 42, 35, 1);
}

.cart-checkout-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
}

.subtotal {
  background: radial-gradient(circle,rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
  border-top: solid 2px rgba(0, 42, 35, 0.721);
  border-left: solid 2px rgba(0, 42, 35, 0.721);
  border-right: solid 2px rgba(0, 42, 35, 0.721);
}



/* Checkout --------------------------------------------------------------------------------------------------------------------------------*/
.contact input, .address input, .payment-form input {
  background-color: #fff;
  border: solid 2px #7CB342;
}

.contact, .address, .payment {
  border-right: solid 1vw #282100;
}

.checkout-item {
  background-color: rgba(255, 255, 255, 75%);
}

.checkout-prices {
  background: radial-gradient(circle,rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
  border-top: solid 1px rgba(0, 42, 35, 0.721);
  border-left: solid 1px rgba(0, 42, 35, 0.721);
  border-right: solid 1px rgba(0, 42, 35, 0.721);
}

.checkout-btn {
  background: radial-gradient(circle, rgba(31, 102, 89, 1), rgba(124, 179, 66, 1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 5px rgba(0, 42, 35, 1);
}

.checkout-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
}



/* Checkout Confirm --------------------------------------------------------------------------------------------------------------------------------*/
.continue-shopping-btn {
  background: radial-gradient(circle, rgba(114, 185, 37, 0.65) 0%, #7CB342 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); 
  border: solid 1px rgba(0, 42, 35, 0.721);
}

.continue-shopping-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

.oval-shape {
  background-color: rgba(255, 255, 255, 75%);
}



/* Media Queries --------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 390px) {

/* General --------------------------------------------------------------------------------------------------------------------------------*/
header {
  background-color: transparent;
}

.footer-links a {
  background-color: #DD6A00;
  border-radius: 3vw;
  padding: 0.3rem 0.3rem;
}


/* Home Page --------------------------------------------------------------------------------------------------------------------------------*/
.about-us {
  background: transparent;
}

.about-us p {
  color: black;
}

.home-button {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.65) 0%, #7CB342 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 1px rgba(0, 42, 35, 0.721);
}


/* Products Page --------------------------------------------------------------------------------------------------------------------------------*/
.product-card {
  border: solid 3px rgba(0, 42, 35, 0.721);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
}

.product-info button {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.65) 0%, #7CB342 100%);
  box-shadow: none;
  border: solid 1px rgba(0, 42, 35, 0.721);
}

.left-arrow img {
    margin-left: 1.5vw;
    background-color: #DD6A00;
    border-radius: 3vw;
    padding: 0.2rem 0.3rem;
}

.filter {
    background-color: #DD6A00;
    border-radius: 3vw;
    padding: 0.2rem 0.3rem;
}

.sort {
  background-color: #DD6A00;
  border-radius: 3vw;
  padding: 0.2rem 0.3rem;
}

/* Product Page --------------------------------------------------------------------------------------------------------------------------------*/
.left-arrow-product {
  background-color: #DD6A00;
}


/* Cart Confirm --------------------------------------------------------------------------------------------------------------------------------*/


/* Cart Page --------------------------------------------------------------------------------------------------------------------------------*/
.cart-header p {
  background-color: #DD6A00;
  border-radius: 3vw;
  padding: 0.2rem 0.3rem;
  width: 11%;
}

.left-arrow-cart {
  background-color: #DD6A00;
}


/* Checkout --------------------------------------------------------------------------------------------------------------------------------*/
.col2 {
  background-color: rgba(255, 255, 255, 75%);
}

.order-summary > :nth-child(2) {
  background-color: #DD6A00;
}


/* Checkout Confirm --------------------------------------------------------------------------------------------------------------------------------*/


}

