/*General --------------------------------------------------------------------------------------------------------------------------------*/
/* Margin and padding applied to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting 100% width and height of display, giving the display a grid layout*/
body, html {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
}

/* Placing the main content below the header */
main {
    margin-top: 10vw;
}

/* Creating a header fixed to the top, above all elements */
header {
    width: 100vw; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: width 0.7s ease;
}

/* Giving each header element a column */
.header-container {
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    height: 10vh; 
}


/* Centering the title */
.site-title {
    padding-top: 1rem;
    padding-left: 3rem;
}

/* Padding and placing of the user icon*/
.user-cart img {
    padding-top: 0.3rem;
    padding-right: 0.5rem;
    max-width: 4vw;
    float: right;
}

/* Allowing the count to be on top of the cart  and making the number centered */
.cart-count {
    position: absolute;
    top: 0.5vw;
    right: 4.4vw;
    border-radius: 30%;
    width: 1vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Padding for the menu icon*/
.menu-icon {
    padding-top: 1.2rem;
    padding-left: 0.5vw;
    max-width: 4vw;
}

/* Styling for the search bar container*/
.search-bar {
    padding-top: 0.5vw;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-bottom: 1rem;
}

/* Placing the search icon on top of the search bar */
.search-bar img {
    margin-left: -2.6rem;
    z-index: 1000;
    height: 2.5rem;

}

/* Styling for the input */
.search-bar input {
    height: 2.5rem;
    flex-grow: 1;
    padding-top: 0.3rem;
    padding-left: 1.5rem;
    outline: none;
    position: relative;
}

/* Keeping the footer at the bottom and giving it a grid layout */
.footer-container {
    display: grid;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: 0.5vw;
}

/* Giving each link an evenly spaced column */
.footer-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    padding: 0.5vw;
}

/* Giving each icon an evenly spaced column */
.footer-icons {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    padding: 0.5vw;
    gap: 0.5vw;
}

.footer-icons img {
    max-height: 2vw;
}



/* Home Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Column grid container */
.slideshow {
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    height: 20vw; 
    width: 100vw;
}

/* Placing chef-dog at the bottom */
.image-wrapper {
    display: grid;
    align-items: end;
}

.chef-dog {    
    max-width: 15vw;
}

/* Column grid for buttom and food image */
.button-img {
    display: grid;
    grid-auto-flow: column;
}

/* Placing food image at bottom */
.gourmet-food {
    max-width: 12vw;
    display: grid;
    align-self: end;
}

/* Button layout */
.buy-now {
    align-self: center;
    width: 14vw;
    height: 3vw;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Slightly scaling the up the size and removing the box shadow */
.buy-now:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.ad-text {
    place-content: center;
}

.home-left-arrow, .home-right-arrow {
    width: 4vw;
    align-self: center;
}



/* Giving each product directory a column and dimensions */
.product-pages {
    display: grid;
    grid-auto-flow: column;
    height: 20vw;
    width: 100vw;
    align-self: center;
    column-gap: 3rem;
    margin-top: 8vw;
}

/* Placing the content within the home page directories */
.dog-products, .cat-products {
    border-radius: 3vw;
    width: 40vw;
    height: 20vw;
    display: grid;
    grid-auto-flow: row;
    justify-self: right;
    place-content: center;
    text-align: center;
    margin-left: 2vw;
    max-width: 100%; 
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Slightly scaling the up the size and removing the box shadow */
.dog-products:hover, .cat-products:hover {
    transform: scale(1.01); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Placement adjustments */
.cat-products {
    justify-self: left;
    margin-right: 2vw;
}

/* Creating an overflow effect */
.dog-image {
    overflow: visible;
    margin-bottom: 3vw;
    max-width: 19vw;
    place-content: center;
}

/* Creating an overflow effect */
.cat-image {
    overflow: visible;
    margin-bottom: 1vw;
    max-width: 21vw;
    place-content: center;
}

/* Button styling */
.home-button {
    border-radius: 3vw;
    width: 30vw;
    position: absolute; 
    align-self: center;
    justify-self: center;
    padding: 0.5vw; 
  }

/* Styling the horizontal rule */
hr {
    border: none;
    height: 1vw;
  }

/* Creating a column grid for the ingredients and products section */
.figure-1 {
    height: 50vw; 
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    column-gap: 1rem;
    margin: 4vw 0;
}

/* Adjusting the placing and dimensions for the product-card on home page */
.product-card-home {
    width: 65%;
    height: 30vw;
    border-radius: 3vw;
    place-items: center;
    align-self: center;
    justify-self: center;
    display: grid;
}

.product-card-home img {
    margin: 1vw 0;
    width: 10vw;
}

/* Placing the content on the product-card-home */
.product-card-home .product-info h3 {
    text-align: center;
    width: 100%;
    align-self: end;
}

.product-card-home .product-info p, h3 {
    padding-bottom: 0.5vw;
}

.product-card-home .product-info button {
    padding: 0.5vw 0;
    border-radius: 3vw;
    width: 100%;
  }

/* Alignment and dimensions for ingredients infographic */
.ingredients {
    height: 40vw;
    border-radius: 3vw;
    overflow: hidden;
    text-align: center;
    place-items: center;
    align-self: center;
}

/* Image placing and dimensions */
.ingredients-img {
    width: 100%;
    place-content: center;
    height: auto;
}

/* Text placing */
.ingredients-text {
    margin-top: 0.9vw;
    display: grid;
    text-align: center;
    align-self: center;
    grid-auto-flow: column;
}

/* Centering and dimensions of the About Us section */
.who-are-we {
    overflow: hidden;
    display: grid;
    place-items: center;
    text-align: center;
    height: 40vw; 
    width: 100vw; 
    padding-top: 1vw;
}

/* Column grid for the text-image */
.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    align-self: top;
    border-radius: 3vw;
    margin-bottom: 3vw;
    margin-top: 1vw;
}

/* Image placing and dimensions */
.who-are-we img {
    margin-left: 4vw;
    width: 40vw;
    height: 100%;
    border-radius: 3vw;
}

/* Text placing */
.who-are-we p {
    margin-left: 3vw;
    margin-top: 1vw;
}



/* Products Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Seperating the back arrow and page title */
.products-header {
    display: grid;
    grid-auto-flow: row;
}

/* Back arrow placing */
.left-arrow img {
    width: 4vw;
    padding-left: 0.5vw;
    cursor: pointer;
}

/* Title placing */
.dog-products-title {
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

/* Giving the filter and sort and column each */
.filter-sort {
    display: grid;
    grid-auto-flow: column;
}

/* Creating a grid for the filter text/image and placing */
.filter {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-self: bottom;
    padding-left: 6vw;
}

/* Text placing */
.filter p {
    padding-right: 0.5vw;
    padding-bottom: 0vw;
    align-self: end;
}

/* Image placing and rotation to align better */
.filter img {
    align-self: end;
    width: 2vw;
    transform: rotate(180deg) scale(1);
}

/* Sort placing */
.sort {
    text-align: right;
    align-self: end;
}

/* Down arrow placement adjustments */
.down-arrow {
    padding-right: 7vw;
}

/* Centering 4 equal columns for the products */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5vw;
    place-items: center;
    margin-top: 2.5vw;
    margin-bottom: 5vh;
    width: 100vw;
    padding: 0 5vw;
}

/* Dimensions and alignment of the content within the product-card */
.product-card {
    width: 90%;
    height: 100%;
    border-radius: 3vw;
    place-items: center;
    display: grid;
    grid-auto-flow: row;
}

/* Image dimensions */
.product-image {
    width: 60%;
    height: auto;
}

/* Image dimensions for the boxed product */
.product-image-small {
    width: 90%;
    height: auto;
}

/* Text alignment and placement */
.product-info {
    text-align: center;
    width: 100%;
    height: auto;
    align-self: end;
}

.product-info h3 {
    text-align: center;
}

.product-info p, h3 {
    padding-bottom: 0.5vw;
}

/* Centering the button */
.product-info button {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 3vw;
    width: 100%;
    align-items: center;
  }



/* Product Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Placing the back arrow */
.product-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: end;
    padding-bottom: 1vw;
}

/* Placement adjustments */
.product-header a {
    padding-left: 1vw;
    padding-bottom: 0.8vw;
}
 
/* Placement adjustments */
.left-arrow-product {
    height: 3vw;
    padding-left: 0.5vw;
}

/* Creating two rows for the product headers */
.product-headers {
    display: grid;
    grid-auto-flow: row;
    padding-bottom: 1vw;
    margin: 0 14vw;
}

/* Giving the product name and product price 1 column each */
.name-price {
    display: grid;
    grid-auto-flow: column;
}

/* Placing the product name to the left */
.product-headers h1 {
    text-align: left;
    padding-top: 0.5vw;
}

/* Placing the product description to the left */
.product-headers h3 {
    text-align: left;
    padding-top: 1vw;
}

/* Placing the product price to the right*/
.product-headers h2 {
    text-align: right;
    padding-top: 0.5vw;
}

/* Styling and placing the Add To Cart button */
.name-price button {
    padding: 0.5vw 0;
    border-radius: 2vw;
    width: 20vw;
    justify-self: right;
    margin-right: 0vw;
  }

/* Column grid for the product images and product details */
.images-text {
    display: grid;
    grid-auto-flow: column;
}  

/* Placing the product details to the left of the column */
.product-details-text {
    margin-top: 4vw;
    width: 45vw;
    text-align: left;
}

/* Creating vertical spacing between each product details point */
.line {
    display: block;
    margin-bottom: 1.5vw
}

.product-details-text h2 {
    padding-left: 1vw;
    text-align: left;
}

.product-details-text p {
    text-align: left;
}

.product-images {
    display: grid;
    padding-left: 14vw;
}

/* Dimensions and placing of the main image */
.img-main {
    width: 30vw;
    height: 30vw;
    padding: 1vw 6vw;
    border-radius: 2vw;
    margin-top: 1vw;
}

/* Placing each small image in a column below the main image  */
.product-images-small {
    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5vw;
    justify-content: left;
    margin-top: 0.5vw;
    margin-bottom: 3vw;
}

/* Dimensions for the small images */
.img1, .img2, .img3 {
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    padding: 0vw;
}

/* Border indicating it is the selected image */
.img1 {
    border: 5px solid black;
}

/* Giving the write-review 1 column and user-reviews 1 column */
.reviews {
    display: grid;
    grid-auto-flow: column;
}

.write-review {
    padding-left: 14vw;
}

/* Row grid for the form */
.review-form {
    display: grid;
    grid-auto-flow: row;
}

.review-titles h4 {
    margin-top: 0vw;
    margin-bottom: 0.5vw;
}

.empty-stars p {
    margin-left: 0;
    padding-left: 0;
}

/* Aligning the stars horizontally */
.empty-stars {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    padding-top: 1vw;
}

.empty-stars img {
    padding-top: 1.2vw;
}

/* Placing for the first name/last name form */
.names {
    display: grid;
    justify-content: left;
    grid-auto-flow: column;
    column-gap: 1vw;
    height: 2vw;
    margin-right: 5vw;
    margin-bottom: 1vw;
}

/* Removing the default blue outline when clicked */
.names input {
    width: 15vw;
    padding-left: 0.5vw;
    outline: none;
}

.review-box {
    height: 11.6vw;
    margin-right: 5vw;
    margin-bottom: 1vw;
}

.pet-name {
    height: 2vw;
    margin-right: 5vw;
    margin-bottom: 1vw;
}

.pet-name input {
    width: 100%;
    height: 100%;
    padding-bottom: 0vw;
    padding-left: 0.5vw;
    outline: none;
}

/* Ensuring the input fills the fill width with adjustments */
.review-box input {
    width: 100%;
    height: 100%;
    padding-bottom: 9.5vw;
    padding-left: 0.5vw;
    outline: none;
}

/* Alignign the button */
.submit-btn {
    float: right;
    height: 3vw;
    border-radius: 2vw;
    width: 50%;
    margin-right: 5vw;
    margin-top: 2.8vw;
}

/* Dimensions and placing of the user-reviews container */
.user-reviews {
  margin-bottom: 8vw;
  margin-left: 4vw;
  width: 65%;
}

.user-reviews p {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
}

.filled-stars {
    margin-left: -0.3vw;
}

.filled-stars img {
    width: 2vw;
}

.mark-profile, .sarah-profile {
    width: 5vw;
}

.mark-review {
    margin-bottom: 2vw;
    border-radius: 2vw;
    padding: 1vw;
}

.sarah-review {
    border-radius: 2vw;
    padding: 1vw;
}



/* Cart Confirm --------------------------------------------------------------------------------------------------------------------------------*/
/* Dimensions and placing of the container */
.confirm-add-to-cart {
    place-self: center;
    border-radius: 2vw;
    width: 50vw;
    margin: 1vw 25vw;
}

/* Column grid for the confirmation message */
.confirmation-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2vw 2vw 0 0;
}

/* Placing the tick to the left */
.tick {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    margin-top: 0vw;
    margin-left: 1vw;
}

.tick h4 {
    align-self: center;
    padding: 0.5vw;
}

.tick img {
    width: 2vw;
    align-self: center;
}

/* Dimensions and placing the cross to the right */
.cross {
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    width: 2vw;
    justify-self: right;
}

.confirm-product-details {
    display: grid;
    justify-items: center;
}

/* Column grid for the details */
.product-details {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

/* Centering the details */
.confirm-product-details-text {
    align-content: center;
    padding-right: 5vw;
    padding-bottom: 3vw;
}

.confirm-product-details-text h3, p {
    padding: 1vw;
    text-align: center;
}

.confirm-product-details-img img {
    width: 15vw;
    margin-left: 5vw;
    margin-top: 1vw;
}

/* Styling and placing the buttons */
.review-cart-btn, .cart-confrim-checkout-btn {
    border-radius: 3vw;
    height: 3vw;
    width: 50%;
    margin-top: 0.5vw;
}

.cart-confrim-checkout-btn {
    margin-bottom: 0.5vw;
}

.confirm-product-details a {
    padding-bottom: 1vw;
}



/* Cart Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Row grid for the cart title and edit cart */
.cart-header {
    display: grid;
    grid-auto-flow: row;
    margin: 0vw 10vw;
}

/* Placing the edit cart to the right*/
.empty-cart {
    justify-self: right;
    padding: 0.25vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Slightly scaling the up the size and removing the box shadow */
.empty-cart:hover {
    transform: scale(1.01); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Column template for the cart headings */
.cart-titles {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin: 0.5vw 10vw;
}                                                                                                                                                                 

.cart-titles > :first-child {
    justify-self: left;
}

.cart-titles > :first-child{
    padding-left: 7vw;
}

.cart-header h3 {
    text-align: center;
}

.cart-header p {
    text-align: right;
}

/* Giving each cart item a centered row */
.cart-items {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1vw;
    margin: 0 10vw;
    padding-bottom: 2vw;
    overflow: scroll; 
    align-self: center;
}

/* Column template for the product details */
.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 1vw;
    align-items: center;
}

.cart-item > :nth-child(3) {
    padding-right: 2.5vw;
}

/* Dimensions and placing for the quantity element */
.quantity {
    height: 50%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.quantity img {
    width: 2.4vw;
    align-self: center;
}

.minus, .plus {
    width: 3vw;
    cursor: pointer;
}

.quantity p {
    align-self: center;
    padding: 0.5vw;
}

.cart-product {
    width: 7vw;
    margin: 0.2vw 5vw;
}

/* Placing the footer above the cart items and centered */
.cart-footer {
    display: grid;
    position: sticky;
    width: 60vw;
    bottom: 2vw;
    left: 20vw;
    z-index: 1000;
    margin-top: 2vw;
}

/* Column grid for the two text elements*/
.subtotal {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 0 2vw;
    width: 75%;
    height: 5vw;
    justify-self: center;
    border-radius: 1vw 1vw 0 0;
}

.subtotal > :nth-child(2) {
    text-align: right;
}

/* Creating a wide button */
.cart-checkout-btn {
    margin-right: 10vw;
    padding: 1vw 2vw;
    border-radius: 3vw;
    width: 100%;
}



/* Checkout --------------------------------------------------------------------------------------------------------------------------------*/
/* Adjusting the site title with the absence of a search bar */
.checkout-site-title {
    padding-left: 5vw;
    cursor: pointer;
}

/* 1 column for information, 1 column for summary and prices */
.checkout-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}

/* Giving the information greater width to indicate higher importance */
.col1 {
    width: 55vw;
}

.order-summary {
    padding: 0vw 1vw 1vw 1vw;
}

/* Column template to align the information for each item */
.checkout-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr 1fr;
    height: 4vw;
    margin: 0.3vw 0 0.5vw 0;
    align-items: center;
    border-radius: 1vw;
}

.checkout-item > :nth-child(1) {
    text-align: left;
}

.checkout-item > :nth-child(2) {
    text-align: right;
}

.checkout-item > :nth-child(3) {
    text-align: right;
}

/* Centering the title */
.order-summary > :first-child {
    text-align: center;
}

/* Placing edit cart to the right */
.order-summary > :nth-child(2) {
    text-align: right;
}

/* Placing continue shopping to the left */
.order-summary > :nth-child(4) {
    text-align: left;
}

.contact, .address, .payment {
    padding: 0vw 1vw 1vw 3vw;
}

.address >:first-child {
    padding-bottom: 1vw;
}

.address >:nth-child(3) {
    text-align: left;
    padding-left: 0vw;
}

.contact > :nth-child(3) {
    text-align: right;
}

/* Styling for the input forms */
.contact input, .address input, .payment-form input {
    width: 100%;
    height: 2vw;
    outline: none;
    padding-left: 1vw;
}

.payment > :nth-child(2) {
    text-align: center;
}

/* Aligning the third party pay horizontally*/
.other-pay {
    display: grid;
    grid-auto-flow: column;
    height: 10vw;
}

.other-pay :first-child {
    width: 17vw;
    align-self: center;
    padding-bottom: 2.5vw;
    grid-column: 2;
}

.other-pay :nth-child(2) {
    display: grid;
    width: 15vw;
    align-self: start;
    grid-column: 1;
}

.other-pay :nth-child(3) {
    width: 10vw;
    align-self: center;
    margin-left: 3vw;
    padding-bottom: 2.3vw;
}

.payment > :nth-child(4) {
    text-align: center;
}

.payment > :nth-child(5) {
    padding: 0.5vw 0;
    text-align: center;
}

/* Row grid for the payment form */
.payment-form {
    display: grid;
    grid-auto-flow: row;
    padding-top: 0.5vw;
    margin-bottom: 3vw;
    row-gap: 0.5vw;
}

/* Column grid for the 2 forms in the final row */
.exp-cvv {
    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5vw;
}

/* Keeping the checkout footer centered at bottom */
.checkout-footer {
    display: grid;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1vw;
    margin-right: 2vw;
    justify-self: center;
}

/* Grid row for the checkout prices */
.checkout-prices {
    display: grid;
    grid-auto-flow: row;
    width: 35vw;
    justify-self: center;
    padding: 0 1vw;
    border-radius: 1vw 1vw 0 0;
}

/* Seperating the titles from the prices */
.checkout-subtotal > :nth-child(2), .shipping > :nth-child(2), .total > :nth-child(2) {
    text-align: right;
}

.shipping {
    padding: 0.3vw 0;
}

.total {
    padding-bottom: 0.3vw;
}

.checkout-subtotal, .shipping, .total {
    display: grid;
    grid-auto-flow: column;
}

/* Wider button placement and dimensions */
.checkout-btn {
    border-radius: 1vw;
    justify-self: center;
    margin-top: 0;
    height: 3vw;
    width: 40vw;
}



/* Checkout Confirm --------------------------------------------------------------------------------------------------------------------------------*/
/* Centered grid container*/
.final-page {
    display: grid;
    justify-items: center;
}

/* Placing the dog image in the first row and column at the forefront */
.happy-dog {
    width: 25vw;
    margin-top: -5vw;
    height: auto;
    grid-row: 1;
    grid-column: 1;
    z-index: 1; 
}

/* Placing the oval image behind the dog image */
.oval-shape {
    width: 30vw;  
    height: 15vw; 
    border-radius: 50%; 
    grid-row: 1;
    grid-column: 1;
    margin-top: 8vw;
}

/* Centering and padding the text*/
.final-page-text {
    text-align: center;
    padding: 3vw 0;
}

.final-page-text p {
    padding: 1vw 0;
}

.final-page-text > :nth-child(3) {
    padding: 2vw 0;
}

/* Placing and dimensions of the button */
.continue-shopping-btn {
    border-radius: 1vw;
    justify-self: center;
    margin-bottom: 2vw;
    height: 3vw;
    width: 46vw;
}



/* Media Queries --------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 390px) {

/*General --------------------------------------------------------------------------------------------------------------------------------*/
/* Only having the header at the top */
header {
    position: relative;
    width: 100%;
    transition: none;
}

/* Removing the top margin */
main {
    margin-top: 0;
}

/* Adjusting centering for the title */
.site-title {
    padding-top: 2rem;
    padding-left: 2.5rem;
}

/* Adjusted width */
.menu-icon {
    max-width: 8vw;
}

/* Adjusted width */
.user-cart img {
    max-width: 10vw;
}

/* Positioning adjustments */
.cart-count {
    position: absolute;
    top: 0.5vw;
    right: 11.5vw;
    border-radius: 50%;
    width: 3vw;
}

/* Adjusted gap */
.footer-icons {
    gap: 1.5vw;
}

.footer-links a {
    margin-top: 1vw;
}

/* Adjusted width */
.footer-icons img {
    max-height: 4vw;
}


/* Home Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Removed gap and increased height */
.slideshow {
    column-gap: 0rem;
    height: 50vw; 
}

.image-wrapper {
    margin-left: 5vw;
}

/* Adjusted width */
.chef-dog {    
    max-width: 35vw;
}

/* Placing the button above the food image */
.button-img {
    grid-auto-flow: row;   
    margin-right: 2vw;
}

/* Adjusted width and placing */
.buy-now {
    margin-top: 10vw;
    width: 17vw;
    height: 5vw;
}

/* Adjusted width and placing */
.gourmet-food {
    max-width: 17vw;
    margin-right: 5vw;
}

/* Adjusted placing */
.ad-text h3 {
    margin-right: 3vw;
    padding-bottom: 24vw;
    text-align: center;
}

/* Increased height */
.product-pages {
    height: 90vw;
    column-gap: 0.5rem;
    margin-top: 10vw;
}

/* Dimension adjustments */
.dog-products, .cat-products {
    border-radius: 4vw;
    width: 40vw;
    height: 80vw;
}

/* Adjusted width and placement */
.dog-image {
    margin-top: 4vw;
    max-width: 60vw;
    margin-right: 0vw;
    z-index: 10;
}

/* Adjusted width and placing */
.cat-image {
    margin-top: 10vw;
    margin-left: 13vw;
    max-width: 64vw;
    z-index: 10;
}

/* Placing the button at the top of the container */
.home-button {
    width: 100%;
    height: 10vw;
    align-self: start;
}

/* Increased height and only one column */
.figure-1 {
    height: 110vw; 
    margin-top: -2vw;
    grid-template-columns: 1fr;
}

/* Removed product cards */
.product-card-home {
    display: none;
}

/* Adjusted dimensions */
.ingredients {
    width: 85vw;
    height: 90vw;
    justify-self: center;
}

.ingredients-img {
    height: 70vw;
}

/* Grid row and increased height */
.who-are-we {
    grid-auto-flow: row;
    height: 150vw; 
}

.who-are-we h1 {
    align-self: start;
    padding-top: 4vw;
}

/* Two rows for text and image */
.about-us {
    margin-bottom: 35vw;
    height: 100vw;
    width: 100vw;
    grid-template-rows: 1fr 1fr;
}

/* Placing text in the first row */
.who-are-we p {
    height: 70vw;
    grid-row: 1;
}

/* Placing image in the second row */
.who-are-we img {
    width: 90vw;
    height: 60vw;
    grid-row: 2;
}
    

/* Products Page --------------------------------------------------------------------------------------------------------------------------------*/
.products-header {
    margin-bottom: 1vw;
}

/* Adjusted width */
.left-arrow img {
    width: 6vw;
}

/* Adjusted width and placing */
.filter {
    width: 33%;
    margin-left: 8vw;
    padding-left: 8vw;
}

/* Adjusted width and placing */
.filter img {
    width: 4vw;
    margin-bottom: 1vw;
}

.filter p {
    margin-bottom: 0.8vw;
}

/* Adjusted width and placing */
.sort {
    display: grid;
    grid-auto-flow: column;
    width: 30%;
    justify-self: right;
    margin-right: 8vw;
}

.down-arrow {
    padding-right: 8vw;
}

.sort > :nth-child(1){
    padding-right: 1vw;
}

.sort a {
    margin-top: 0.4vw;
    margin-left: 2vw;
}

/* Two equal columns for product page on mobile display */
.products {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5vw;
}

/* Adjusted row gap */
.product-info {
    row-gap: 1.5vw;
}

.product-info h3 {
    text-align: center;
}

.product-info p, h3 {
    padding-bottom: 1.5vw;
}

/* Adjusted height */
.product-info button {
    height: 5vw;
  }


/* Product Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Adjusted dimensions and placing */
.product-header {
    width: 100%;
    height: 5vw;
    padding-top: 0;
}

/* Adjusted height, border-radius and placing */
.left-arrow-product {
    border-radius: 3vw;
    margin-left: 2.5vw;
    height: 5vw;
    padding-left: 0.8vw;
    padding-top: 1vw;
}

/* Removing the "Back to Products" link */
.product-header a {
    display: none;
}

.product-header img {
    padding-bottom: 0.3vw;
    padding-right: 1vw;
    width: 4vw;
}

/* Adjusted padding / margin */
.product-headers {
    padding: 3vw 8vw 0 8vw;
    margin: 0;
}

.product-headers h1 {
    text-align: left;
    padding-left: 0;
}

.product-headers h3 {
    text-align: left;
    padding-left: 5vw;
    margin-bottom: 1vw;
}

.product-headers h2 {
    padding-right: 0;
    text-align: right;
}

/* Adjusted dimensions and placing */
.name-price button {
    border-radius: 3vw;
    width: 30vw;
    height: 8vw;
    margin-right: 0;
}

/* Grid row for product images and details */
.images-text {
    grid-auto-flow: row;
}

/* Dimensions and placing for product details below the image*/
.product-details-text {
    width: 100vw;
    height: 85vw;
    padding: 0 8vw;
    padding-top: 3vw;
}

.product-images {
    padding-left: 8.3vw;
}

/* Increased gap */
.product-images-small {
    margin-top: 1vw;
    column-gap: 1.5vw;
}

/* Adjusted dimensions and padding */
.img-main {
    width: 85.5vw;
    height: 70vw;
    padding: 3vw 15vw;
}

/* Adjusted dimensions, padding and radius */
.img1, .img2, .img3 {
    width: 14vw;
    height: 14vw;
    border-radius: 3vw;
    padding: 2vw;
}

/* Grid row for write-review and user-reviews */
.reviews {
    margin-top: 10vw;
    grid-auto-flow: row;
    margin-bottom: 5vw;
    padding-left: 5vw;
}

/* Placing user reviews in the first row to the left*/
.user-reviews {
    grid-row: 1;
    justify-self: left;
    margin-left: 0vw;
    width: 75%;
}

.user-reviews p {
    padding-left: 1vw;
}

/* Adjusted width and placing */
.filled-stars img {
    width: 5vw;
    margin-left: 0;
}

/* Adjusted width and height */
.mark-profile, .sarah-profile {
    width: 10vw;
    height: auto;
}

/* Placing write review in second row with centering  */
.write-review {
    padding-left: 0;
    grid-row: 2
}

/* Adjusted gap */
.empty-stars {
    column-gap: 1vw;
}

/* Adjusted width */
.empty-stars img {
    width: 6vw;
}

/* Adjusted height, gap and placing */
.names {
    justify-content: left;
    column-gap: 2vw;
    height: 10vw;
    margin-bottom: 2vw;
}

/* Adjusted dimensions and padding */
.names input {
    width: 45vw;
    height: 10vw;
    padding: 1vw;
}

.names input::placeholder{
    padding-left: 0.5vw;
}

/* Adjusted height and placing */
.review-box {
    margin-bottom: 2vw;
    height: 15vw;
}

/* Adjusted height and padding */
.review-box input {
    height: 15vw;
    padding-bottom: 6vw;
}

.review-box input::placeholder {
    padding-left: 1vw;
}

/* Adjusted height */
.submit-btn {
    height: 10vw;
}


/* Cart Confirm --------------------------------------------------------------------------------------------------------------------------------*/
/* Adjusted dimensions and placing */
.confirm-add-to-cart {
    width: 75vw;
    height: 105vw;
    margin: 8vw 13vw;
    margin-bottom: 62vw;
}

.tick img {
    width: 5vw;
}

.cross {
    width: 4vw;
}

.confirm-product-details {
    height: 100%;
}

/* Adjusted height and placing */
.product-details {
    height: 100%;
    margin-top: 4vw;
}

/* Adjusted width and placing */
.confirm-product-details-img img {
    margin-left: 2vw;
    width: 35vw;
}

/* Placing text at the top and adjusted padding */
.confirm-product-details-text {
    align-self: start;
    padding-top: 2vw;
    padding-right: 3vw;
}

.confirm-product-details-text p {
    margin-top: 2vw;
}

/* Adjusted dimensions and centering */
.review-cart-btn, .cart-confrim-checkout-btn {
    justify-self: center;
    height: 8vw;
    width: 75%;
}

/* Removed bottom margin */
.cart-confrim-checkout-btn {
    margin-bottom: 0vw;
}

.confirm-product-details a {
    padding-bottom: 4vw;
}


/* Cart --------------------------------------------------------------------------------------------------------------------------------*/
/* Adjusted dimensions, padding and border-radius */
.left-arrow-cart {
    border-radius: 3vw;
    margin-left: 2.5vw;
    height: 5vw;
    padding-left: 0.8vw;
    padding-top: 1vw;
}

.cart-header {
    margin-bottom: 1vw;
}

.cart-item {
    height: 25vw;
}

.quantity {
    margin-right: 3vw;
}

.cart-item > :nth-child(3) {
    padding-right: 4vw;
}

/* Adjusted width and placing*/
.cart-product {
    width: 15vw;
    margin: 0vw 2vw;
}

/* Making the footer fixed at the bottom with centering adjustments */
.cart-footer {
    position: fixed;
    width: 80vw;
    left: 10vw;
}


/* Checkout --------------------------------------------------------------------------------------------------------------------------------*/
/* Adjusted padding */
.checkout-site-title {
    padding-top: 1rem;
    padding-left: 2.5rem;
}

/* Small row so the order summary element is pushed to the top */
.checkout-main {
    grid-template-rows: 0.1fr 1fr;
    align-content: flex-start;
}

/* Removing the horizontal rule */
.first-hr {
    display: none;
}

/* Placing the first column in the second row */
.col1 {
    grid-row: 2;
    width: 100vw;
    align-self: start;
}

/* Placing the second column in the first row */
.col2 {
    grid-row: 1;
    height: 10vw;
}

/* Column template for the text and edit cart button */
.order-summary {
    padding: 1vw;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

/* Removing the display of items */
.checkout-item {
    display: none;
}

.order-summary > :first-child {
    text-align: left;
}

/* Styling of the button */
.order-summary > :nth-child(2) {
    justify-self: right;
    width: 14vw;
    border-radius: 3vw;
    padding: 0.2rem 0.3rem;
    margin-right: 2vw;
    margin-top: 0.5vw;
}

/* Removing continue shopping */
.order-summary > :nth-child(4) {
    display: none;
}

/* Adjusted height and padding */
.contact, .address {
    padding: 1vw 2vw;
    height: 25vw;
}

.address >:first-child {
    padding-bottom: 1vw;
}

.address >:nth-child(3) {
    text-align: left;
    padding-left: 0vw;
}

.contact > :nth-child(3) {
    text-align: right;
}

/* Adjusted dimensions */
.contact input, .address input, .payment-form input {
    width: 100%;
    height: 8vw;
}

.contact input::placeholder, .address input::placeholder, .payment-form input::placeholder {
    padding: 0.5vw;
}

/* Adjusted height and padding */
.payment {
    height: 100vw;
    padding: 1vw 2vw;
}

.payment > :nth-child(2) {
    text-align: center;
}

/* Adjusted height, padding and margin*/
.other-pay {
    height: 20vw;
    padding-right: 15vw;
    margin-right: 0;
}

.other-pay :first-child {
    justify-self: center;
    width: 30vw;
    padding-bottom: 5vw;
}

.other-pay :nth-child(2) {
    width: 30vw;
    margin-left: 2vw;
    justify-self: left;
}

.other-pay :nth-child(3) {
    width: 25vw;
    justify-self: right;
    padding-left: 5vw;
    padding-bottom: 4vw;
}

/* Adjusted height */
.payment-form {
    height: 30vw;
}

.payment-form input {
    height: 8vw;
}

/* Adjusted gap */
.exp-cvv {
    column-gap: 1vw;
}

/* Keeping the footer at the bottom */
.checkout-footer {
    margin-right: 0;
    margin-bottom: 2vw;
}

/* Adjusted width, padding and radius */
.checkout-prices {
    width: 90%;
    padding: 1vw;
    border-radius: 3vw 3vw 0 0;
}

.checkout-subtotal, .shipping, .total {
    padding: 1vw;
}

/* Adjusted dimensions and padding */
.checkout-btn {
    border-radius: 5vw;
    height: 10vw;
    width: 100vw;
}


/* Checkout Confirm --------------------------------------------------------------------------------------------------------------------------------*/
/* Adjusted width */
.happy-dog {
    width: 70vw;
}

/* Adjusted dimensions and placement */
.oval-shape {
    width: 90vw;  
    height: 45vw; 
    margin-top: 30vw;
}

/* Adjusted padding */
.final-page-text {
    padding: 5vw 0;
}

.final-page-text p {
    padding: 0 5vw;
}

/* Adjusted padding and margin */
.final-page-text > :nth-child(3) {
    padding: 20vw 5vw 30vw 5vw;
    margin: 3vw 0;
}
/* Adjusted dimensions border-radius */
.continue-shopping-btn {
    border-radius: 7vw;
    height: 10vw;
    width: 70vw;
}


}