/* General --------------------------------------------------------------------------------------------------------------------------------*/

/* Using a gradient and base colour to create the desired colour */
header {
  background: linear-gradient(to bottom, rgba(52, 78, 24, 0.25), #310000);
  background-color: #003130ee;
}

/* Removing the header colour on the final page */
.header-container-final {
  background: transparent;
}

.site-title {
  color: #FFF;
}

/* Black circle with white count inside */
.cart-count {
  background-color: rgba(0, 0, 0);
  color: white;
}

/* Search bar styling */
.search-bar input  {
  background-color: rgba(255, 255, 255, 32%);
  border-radius: 30px;
  border: solid 2px rgba(52, 73, 0, 0.721);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
}

/* 75% transparent text for the placeholder */
.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.75) ;
}

/* Removing the placeholder when the user begins to type */
.search-bar input:focus::placeholder {
  color: transparent;
}

/* Footer background
 */
.footer-container {
  background-color: rgba(46, 151, 132, 75%)
}



/* Home Page --------------------------------------------------------------------------------------------------------------------------------*/

/* Main vertical background colour */
.background-color-home {
  background-image: linear-gradient(to bottom, #310000, #DD6A00);
}

/* Background with top and bottom borders */
.slideshow {
  background-color: rgba(46, 151, 132, 0.45);
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* Colour and box shadow */
.buy-now {
  background-color: #2E9784;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
}

/* Hover colour */
.buy-now:hover {
  background-color: #208072;
}

/* Gradient colour, border and box shadow */
.dog-products, .cat-products {
  background-image: linear-gradient(-30deg, rgba(124, 179, 66, 0.75), rgba(167, 229, 218, 0.43));
  border: solid 2px rgba(0, 42, 35, 0.721);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 100, 100); 
}
 
/* Gradient colour, border and box shadow */
.home-button {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.8) 0%, #7CB342 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 3px rgba(0, 42, 35, 0.721);
}

/* Hover colour*/
.home-button:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

/* Horizontal rule colour */
hr {
  background-color: #282100;
}

/* Infographic background */
.ingredients {
  background: linear-gradient(to bottom, rgba(124, 179, 66, 0.25), #fff);
}

/* Box shadow */
.product-card-home {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 100, 100); 
}

/* Gradient colour for text and image */
.about-us {
  background: linear-gradient(to bottom, rgba(52, 78, 24, 0.25), #DD6A00);
}

/* Background colour for bottom section */
.who-are-we {
  background-color: rgba(124, 179, 66, 50%)
}



/* Products Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Main gradient background colour */
.background-color-products {
  background-image: linear-gradient(to bottom, #310000, #DD6A00);
}

/* Gradient colour, border and transition raising the card */
.product-card, .product-card-home {
  background: linear-gradient(to bottom, rgba(124, 179, 66, 0.75) 0%, rgba(167, 229, 218, 0.43) 100%);
  border: solid 1px rgba(0, 42, 35, 0.721);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Box shadow */
.product-card {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 100, 100); 
}

/* Hover transition to raise the card and create new box shadow */
.product-card:hover, .product-card-home:hover {
  transform: scale(1.01); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Gradient colour, border and box shadow */
.product-info button {
  background: radial-gradient(circle, rgba(31, 102, 89, 0.721), rgba(124, 179, 66, 1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 3px rgba(0, 42, 35, 0.721);
}

/* Hover colour */
.product-info button:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 1));
}



/* Product Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Main gradient background colour */
.background-color-product {
  background-image: linear-gradient(to bottom, #310000, #DD6A00);
}

/* Gradient colour, border and box shadow */
.name-price button {
  background: radial-gradient(circle, rgba(31, 102, 89, 0.721), rgba(124, 179, 66, 0.75));
  box-shadow: 0px 2px 8px rgba(0, 0, 100, 100); 
  border: solid 3px rgba(0, 42, 35, 0.721);
}

/* Hover colour*/
.name-price button:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

/* Background colour behind small images */
.img-main, .img1, .img2, .img3 {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.75) 0%, rgba(255, 255, 255, 1) 100%);
}

/* Input form white background */
.review-form input {
  background-color: #fff;
  border: 1px solid #7CB342;
}

/* Gradient colour, border and box shadow */
.submit-btn {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.65) 0%, #7CB342 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); 
  border: solid 2px rgba(0, 42, 35, 0.721);
}

/* Hover colour */
.submit-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

/* Background gradient colour*/
.mark-review, .sarah-review {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}



/* Cart Confirm --------------------------------------------------------------------------------------------------------------------------------*/
/* Gradient colour, border and box shadow */
.review-cart-btn, .cart-confrim-checkout-btn {
  background: radial-gradient(circle, rgba(31, 102, 89, 0.721), rgba(124, 179, 66, 0.75));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 2px rgba(0, 42, 35, 0.721);
}

.confirmation-header {
  background-color: black;
}

/* Hover colour */
.review-cart-btn:hover, .cart-confrim-checkout-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

/* Gradient colour and box shadow */
.confirm-add-to-cart {
  background-image: linear-gradient(180deg, rgba(124, 179, 66, 0.75), rgba(167, 229, 218, 0.43));
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 100, 100); 
}



/* Cart Page --------------------------------------------------------------------------------------------------------------------------------*/
.cart-item {
  background-color: rgba(251,251,251,75%);
}

.cart-header button {
  background-color: transparent;
}

.quantity p {
  background-color: #fff;
} 

/* Gradient colour, border and box shadow */
.cart-checkout-btn {
  background: radial-gradient(circle, rgba(31, 102, 89, 1), rgba(124, 179, 66, 1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 5px rgba(0, 42, 35, 1);
}

/* Hover colour */
.cart-checkout-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
}

/* Border on 3 sides of the subtotal section */
.subtotal {
  background: radial-gradient(circle,rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
  border-top: solid 2px rgba(0, 42, 35, 0.721);
  border-left: solid 2px rgba(0, 42, 35, 0.721);
  border-right: solid 2px rgba(0, 42, 35, 0.721);
}



/* Checkout --------------------------------------------------------------------------------------------------------------------------------*/
/* White input form colour */
.contact input, .address input, .payment-form input {
  background-color: #fff;
  border: solid 2px #7CB342;
}

/* Right side borders making up the middle line */
.contact, .address, .payment {
  border-right: solid 1vw #282100;
}

.checkout-item {
  background-color: rgba(255, 255, 255, 75%);
}

/* Border on 3 sides of the subtotal section */
.checkout-prices {
  background: radial-gradient(circle,rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
  border-top: solid 1px rgba(0, 42, 35, 0.721);
  border-left: solid 1px rgba(0, 42, 35, 0.721);
  border-right: solid 1px rgba(0, 42, 35, 0.721);
}

/* Gradient colour, border and box shadow */
.checkout-btn {
  background: radial-gradient(circle, rgba(31, 102, 89, 1), rgba(124, 179, 66, 1));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); 
  border: solid 5px rgba(0, 42, 35, 1);
}

/* Hover colour */
.checkout-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 1), rgba(31, 102, 89, 1));
}



/* Checkout Confirm --------------------------------------------------------------------------------------------------------------------------------*/
/* Gradient colour, border and box shadow */
.continue-shopping-btn {
  background: radial-gradient(circle, rgba(114, 185, 37, 0.65) 0%, #7CB342 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); 
  border: solid 2px rgba(0, 42, 35, 0.721);
}

/* Hover colour*/
.continue-shopping-btn:hover {
  background-image: radial-gradient(circle, rgba(124, 179, 66, 0.75), rgba(31, 102, 89, 0.721));
}

/* Oval colour behind the happy dog image */
.oval-shape {
  background-color: rgba(255, 255, 255, 75%);
}



/* Media Queries --------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 390px) {

/* General --------------------------------------------------------------------------------------------------------------------------------*/
/* Transparent header for phone display */
header {
  background-color: transparent;
}

/* Button style links for phone display */
.footer-links a {
  background-color: #DD6A00;
  border-radius: 3vw;
  padding: 0.3rem 0.3rem;
}


/* Home Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Minimised box shadow */
.dog-products, .cat-products {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 100, 100); 
}

.about-us {
  background: transparent;
}

.about-us p {
  color: black;
}


/* Products Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Adjusted box shadow and border */
.product-card {
  border: solid 3px rgba(0, 42, 35, 0.721);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 100, 100); 
}

/* Fitting the button within the card frame */
.product-info button {
  background: radial-gradient(circle, rgba(124, 179, 66, 0.65) 0%, #7CB342 100%);
  box-shadow: none;
  border: solid 1px rgba(0, 42, 35, 0.721);
}

/* Making the back arrow into a button */
.left-arrow img {
    margin-left: 1.5vw;
    background-color: #DD6A00;
    border-radius: 3vw;
    padding: 0.2rem 0.3rem;
}

/* Making filter into a button */
.filter {
    background-color: #DD6A00;
    border-radius: 3vw;
    padding: 0.2rem 0.3rem;
}

/* Maing sort into a button */
.sort {
  background-color: #DD6A00;
  border-radius: 3vw;
  padding: 0.2rem 0.3rem;
}

/* Product Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Back arrow button */
.left-arrow-product {
  background-color: #DD6A00;
}


/* Cart Confirm --------------------------------------------------------------------------------------------------------------------------------*/


/* Cart Page --------------------------------------------------------------------------------------------------------------------------------*/
/* Back arrow button */
.left-arrow-cart {
  background-color: #DD6A00;
}


/* Checkout --------------------------------------------------------------------------------------------------------------------------------*/
/* Creating a background colour for the order summary header ection */
.col2 {
  background-color: rgba(255, 255, 255, 75%);
}

/* Edit cart button */
.order-summary > :nth-child(2) {
  background-color: #DD6A00;
}


/* Checkout Confirm --------------------------------------------------------------------------------------------------------------------------------*/


}

